* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

html {
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

body {
  background-color: #F6F6F6;
  letter-spacing: 1px;
  line-height: 1.6;
  overflow-y: hidden;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #F6F6F6;
}

a:hover {
  color: #DBA859;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h1, h2, h3, p {
  margin-bottom: 2rem;
}

p {
  color: #5F5F5F;
}

.btn, .btn-ghost {
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border: 1px solid #DBA859;
}

.logo img {
  width: 10rem;
}

.btn {
  color: #F6F6F6;
  background-color: #DBA859;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: #DBA859;
}

.btn-ghost {
  color: #DBA859;
  background-color: transparent;
}

.above-heading {
  margin-bottom: 0;
  color: #DBA859;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  text-align: center;
}

.heading {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 900;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  color: #2e2e2e;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader.active {
  opacity: 0;
  visibility: hidden;
}

.loader .spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.loader .spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #e4be83;
  border-radius: 50%;
  -webkit-animation: spinnerOne 1.2s linear infinite;
          animation: spinnerOne 1.2s linear infinite;
}

.loader .spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #e4be83;
  -webkit-animation: spinnerTwo 1.2s linear infinite;
          animation: spinnerTwo 1.2s linear infinite;
}

@-webkit-keyframes spinnerOne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerOne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 10px;
  }
}

@-webkit-keyframes spinnerTwo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

@keyframes spinnerTwo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

.navbar {
  background-color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-animation: navbarAnimation 2s ease forwards;
          animation: navbarAnimation 2s ease forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@-webkit-keyframes navbarAnimation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navbarAnimation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .navbar {
    background-color: transparent;
  }
}

.navbar__container {
  padding: 1.5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .navbar__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.navbar__nav-links {
  display: none;
}

@media (min-width: 600px) {
  .navbar__nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__nav-link {
  margin-left: 1.5rem;
  color: #5F5F5F;
  font-weight: 700;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #2e2e2e;
}

.bottom-navigation ul {
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bottom-navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-navigation i {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .bottom-navigation {
    display: none;
  }
}

.showcase {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0.9)), to(rgba(246, 246, 246, 0.9))), url("../images/landing-image.jpg");
  background-image: linear-gradient(rgba(246, 246, 246, 0.9), rgba(246, 246, 246, 0.9)), url("../images/landing-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .showcase {
    background-image: unset;
  }
}

.showcase__container {
  padding: 0 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

@media (min-width: 1200px) {
  .showcase__container {
    padding: 0 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 2000px) {
  .showcase__container {
    height: 1000px;
  }
}

.showcase__text {
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-animation: showText 2s ease forwards;
          animation: showText 2s ease forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  opacity: 0;
}

@-webkit-keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 600px) {
  .showcase__text {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .showcase__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    max-width: 500px;
  }
}

.showcase__text h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

@media (min-width: 1200px) {
  .showcase__text h1 {
    font-size: 5rem;
  }
}

.showcase__image {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0.2)), to(rgba(246, 246, 246, 0.2))), url("../images/landing-image2.jpg");
  background-image: linear-gradient(rgba(246, 246, 246, 0.2), rgba(246, 246, 246, 0.2)), url("../images/landing-image2.jpg");
  background-position: -50px 0;
  background-size: cover;
  height: 100%;
  width: 75%;
  z-index: -5;
  -webkit-animation: show-image 2s ease forwards;
          animation: show-image 2s ease forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  opacity: 0;
}

@-webkit-keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .showcase__image {
    visibility: visible;
  }
}

.menu__container {
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .menu__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 1200px) {
  .menu__grid {
    gap: 2rem 4rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item-image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5rem;
}

.menu__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__item-left {
  width: 80%;
}

.menu__item-left h2 {
  margin-bottom: 0.5rem;
}

.divider {
  background-color: #e9c998;
}

.divider__container {
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .divider__container {
    padding: 5rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.divider__items {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 1200px) {
  .divider__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.divider img {
  margin-bottom: 1.5rem;
}

.about__container {
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

@media (min-width: 1200px) {
  .about__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1200px) {
  .about__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about__image img {
  width: 100%;
}

.about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .about__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1200px) {
  .about__text .above-heading {
    text-align: left;
  }
}

.about__text .heading {
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .about__text .heading {
    text-align: left;
  }
}

.about__text p {
  text-align: center;
}

@media (min-width: 1200px) {
  .about__text p {
    text-align: left;
  }
}

.reservation {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 46, 46, 0.6)), to(rgba(46, 46, 46, 0.6))), url("../images/reservation-image.jpg");
  background-image: linear-gradient(rgba(46, 46, 46, 0.6), rgba(46, 46, 46, 0.6)), url("../images/reservation-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .reservation {
    background-attachment: fixed;
  }
}

.reservation__container {
  text-align: center;
  color: #F6F6F6;
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .reservation__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.contact__container {
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .contact__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.contact__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .contact__flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.contact__contact-info ul {
  display: block;
}

@media (min-width: 1200px) {
  .contact__contact-info {
    text-align: left;
  }
}

.contact__contact-info ul {
  margin-bottom: 2rem;
}

.contact__contact-info li {
  margin-bottom: 0.5rem;
}

.contact__contact-info h3 {
  margin-bottom: 0.5rem;
}

.contact__contact-info a {
  color: #2e2e2e;
  font-weight: 500;
}

.contact__map {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: none;
}

@media (min-width: 1200px) {
  .contact__map {
    display: block;
  }
}

@media (min-width: 1200px) {
  .mobile-map {
    display: none;
  }
}

.footer {
  background-color: #2e2e2e;
  text-align: center;
}

.footer__top {
  margin: 0 1rem;
}

.footer__container {
  padding: 3rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #494949;
}

.footer__bottom {
  padding: 2rem;
  color: #F6F6F6;
}
/*# sourceMappingURL=main.css.map */