@import 'mixins';
@import 'variables';

// base styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    
}

html {
    scroll-behavior: smooth;
    font-size: 0.8rem;
    @include xl {
        font-size: 1rem;
    }
}

body {
    background-color: $light;
    letter-spacing: 1px;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition: $transition;
    color: $light;
        &:hover {
                color: $primary;
            }
}

h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.17rem;
  }

h1, h2, h3, p {
    margin-bottom: 1rem;
}

%btn {
    padding: 1rem 2rem;
    display: inline-block;
    text-align: center;
    border: 1px solid $primary;
}

.logo {
    img {
        width: 9rem;
        @include xl {
            width: 10rem;
        }
    }
}
.btn {
    @extend %btn;
    color: $light;
    background-color: $primary;
    
    transition: $transition;
    &:hover {
        background-color: transparent;
        color: $primary;
        
    }
}

.btn-ghost {
    @extend %btn;
    color: $primary;
    background-color: transparent;
    
}


.above-heading {
    margin-bottom: 0;
    color: $primary;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    text-align: center;
}

.heading {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 900;
}



// navbar

.navbar {
    background-color: $light;
    position: fixed;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
   
    @include xl {
        position: absolute;
        background-color: transparent;
        box-shadow: none;
        transition: $transition;
        &.active {
            position: fixed;
            background: $light;
            box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); 
        }
        animation: navbarAnimation 1.5s forwards;
        animation-delay: 2s;
        transform: translateY(-100%);
        @keyframes navbarAnimation {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
    &__container {
        @include container(1rem, 600px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include xl {
            @include container(1rem, 1200px);
        }
    }

    &__nav-links {
        display: none;
        @include xl {
            display: flex;
        }
    }
    &__nav-link {
        margin-left: 1.5rem;
        color: $dark;
    }

    &__toggle {
        padding: 0.5rem 1rem;
        border: 1px solid #DBDBDB;
        border-radius: 2px;
        cursor: pointer;
        .bar1,
        .bar2,
        .bar3 {
        width: 25px;
        height: 2px;
        background-color: $dark;
        margin: 7px 0;
        transition: $transition;
    }
    @include xl {
    display: none;
        }
    }
    
}

// hamburger menu

.hamburger-menu {
    position: fixed;
    top: 74px;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: $transition;
    background-color: darken($light, 2);
    z-index: 100;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    &__navlinks {
        @include container(0, 600px);
    }

    &__navlink {
        padding: 1rem 0 1rem 2rem;
        width: 100%;
        display: block;
        transition: $transition;
        color: $dark;
        &:hover {
        
          color: $primary;
        }
      }
    
    @include xl {
        display: none;
    }
}



//showcase 

.showcase {
        background-image: linear-gradient(rgba($light,0.85), rgba($light, 0.85)), url('../images/landing-image.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include xl {
            background-image: unset;
        }
    &__container {
        @include container(0 1rem, 600px);
        height: 100vh;
        position: relative;
        @include xl {
            @include container(0 1rem, 1200px); 
            
        }

        @include mediaQuery(2000px) {
            height: 1000px;
        }
       
    }
    &__text {
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       flex-direction: column;
       height: 100%;
       
        @include xl {
            align-items: flex-start;
            text-align: left; 
            max-width: 500px;
            animation: showText 2s ease forwards;
            animation-delay: 1.5s;
            opacity: 0;
                @keyframes showText {
                    0% {
                        opacity: 0;
                        transform: translateX(-20%);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
        }
       h1 {
           font-size: 2.5rem;
           font-weight: 900;
           line-height: 1;
           @include xl {
            font-size: 6rem; 
           }
       }
       
    }

    &__image {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(rgba($light,0.2), rgba($light, 0.2)), url('../images/landing-image.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        height: 100%;
        width: 70%;
        z-index: -5;
        @include xl {
            display: block;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                z-index: -5;
                background-color: $light;
                animation: reveal   2s ease forwards;
            } 
            @keyframes reveal {
      
                0% {
                    width: 100%
                }
                100% {
                    width: 0;
                }
            }   
        }
        
    }

    
}

//menu 

.menu {
    &__container {
        @include container(5rem 1rem, 600px);
        @include xl {
            @include container(10rem 1rem,  1200px);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        @include xl {
            gap: 2rem 4rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        display: flex;
        border-bottom: 1px solid #DBDBDB;
    }

    &__item-image {
        

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1rem;
        }
        
    }
    &__item-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }
    &__item-left {
        width: 80%;
        h3 {
            margin-bottom: 0.5rem;
        }
    }
}

.divider {
    background-color: lighten($primary, 15);
    &__container {
        @include container(5rem 1rem, 600px);
        @include xl {
            @include container(5rem 1rem, 1200px);
        }
    }
    &__items {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        @include xl {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    img {
        margin-bottom: 1rem;
    }
}

//about

.about {
    
    &__container {
        @include container(5rem 1rem, 600px);
        @include xl {
            @include container(10rem 1rem, 1200px);
        }
        display: flex;
        flex-direction: column;
        @include xl {
            flex-direction: row;
        }
        gap: 2rem;
    }

    &__image {
        flex: 1;
        @include xl {
            order: 1;
        }
        img {
            width: 100%;
        }
    }

    &__text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include xl {
            order: 2;
        }
        .above-heading {
            @include xl {
                text-align: left;
            }
        }
        .heading {
            margin-bottom: 2rem;
            @include xl {
                text-align: left;
               
            }
        }

        p {
            text-align: center;
            @include xl {
                text-align: left;
            }
        }
    }
    
}


//services

.reservation {
    background-image: linear-gradient(rgba($dark,0.6), rgba($dark, 0.6)), url('../images/services-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
        &__container {
            text-align: center;
            color: $light;
            @include container(5rem 1rem, 600px);
            @include xl {
                @include container(10rem 1rem, 1200px);
            }
        }
}

//contact

.contact {
   
    &__container {
        @include container(5rem 1rem, 600px);
        @include xl {
            @include container(10rem 1rem, 1200px);
        }

    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include xl {
            flex-direction: row;
        }
    }

    

    &__contact-info {
        flex: 1;
        text-align: center;
        @include xl {
            text-align: left;
        }
        ul {
            margin-bottom: 2rem;
        }

        li {
            margin-bottom: 0.5rem;
        }

        h3 {
            margin-bottom: 0.5rem
        }

        a {
            color: $dark;
            font-weight: 500;
            
        }
    }

    &__map {
     flex: 2;
     display: none;
     @include xl {
         display: block;
     }
    }
}

.mobile-map {
    @include xl {
        display: none;
    }
}

.footer {
    background-color: $dark;
    text-align: center;
    &__top {
        margin: 0 1rem;
    }
    &__container {
        @include container(3rem 1rem, 1200px);
        border-bottom: 1px solid #494949;
    }
  
    &__bottom {
        padding: 2rem;
        color: $light;
    }
}